@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--dark-gray: hsl(0, 0%, 55%);
	--very-dark-gray: hsl(0, 0%, 41%);

	--fw-3: "Alata", sans-serif;
	--fw-4: "Josefin Sans", sans-serif;
	--fs-xl: 2.6rem;
	--fs-l: 2rem;
	--fs-m: 1.5rem;
	--fs-s: 0.9rem;
	--fs-xs: 0.5rem;

	--gap-1: 1rem;
	--gap-1-5: 1.5rem;
	--gap-2: 2rem;
	--gap-2-5: 2.5rem;
	--gap-3: 3rem;
	--gap-5: 5rem;
}

* {
	padding: 0;
	margin: 0;
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}

.banner {
	background: center / cover no-repeat url(./images/mobile/image-hero.jpg);
	height: 40rem;
	padding: var(--gap-2-5) var(--gap-1-5);
	display: grid;
	grid-template-rows: auto 1fr;
	align-items: center;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	width: 10rem;
	z-index: 1;
}

.nav__menu {
	display: none;
	position: absolute;
	background-color: var(--black);
	color: var(--white);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
	flex-direction: column;
	gap: var(--gap-2);
	padding: var(--gap-1-5);
	justify-content: center;
}

.nav__item {
	list-style: none;
	font-family: var(--fw-4);
	font-size: var(--fs-m);
	text-transform: uppercase;
	cursor: pointer;
}

.nav__hamburger {
	display: block;
	background: center / contain no-repeat url(./images/icon-hamburger.svg);
	width: 2rem;
	aspect-ratio: 2;
	cursor: pointer;
	z-index: 1;
}

.nav__hamburger-input {
	display: none;
}

.nav__hamburger-input:checked ~ .nav__menu {
	display: flex;
}

.nav__hamburger-input:checked ~ .nav__hamburger {
	background: center / contain no-repeat url(./images/icon-close.svg);
}

.banner__slogan {
	font-family: var(--fw-4);
	font-weight: 400;
	font-size: var(--fs-xl);
	color: var(--white);
	text-transform: uppercase;
	padding: var(--gap-1);
	outline: 2px solid var(--white);
	line-height: 1.5ch;
}

.main {
	padding: var(--gap-5) var(--gap-1-5);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.primary {
	display: grid;
}

.primary__article {
	display: flex;
	flex-direction: column;
	gap: var(--gap-1-5);
	padding: var(--gap-2-5) var(--gap-1);
	text-align: center;
}

.primary__title {
	font-family: var(--fw-4);
	font-weight: 400;
	font-size: var(--fs-l);
	color: var(--black);
	text-transform: uppercase;
	line-height: 1.5ch;
}

.primary__text {
	font-family: var(--fw-3);
	font-weight: 300;
	font-size: var(--fs-s);
	color: var(--dark-gray);
	line-height: 2.5ch;
}

.creations {
	display: grid;
	justify-items: center;
	gap: 1.5rem;
	grid-template-rows: min-content repeat(8, min-content) [second-to-last-line] min-content;
}

.creations__title {
	font-family: var(--fw-4);
	font-weight: 400;
	font-size: var(--fs-l);
	color: var(--black);
	text-transform: uppercase;
	line-height: 1.5ch;
}

.thumb {
	position: relative;
}

.thumb::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right, #00000050, transparent);
}

.thumb__title {
	position: absolute;
	bottom: var(--gap-3);
	left: var(--gap-1);
	font-family: var(--fw-4);
	font-weight: 400;
	font-size: var(--fs-m);
	color: var(--white);
	width: 9ch;
	text-transform: uppercase;
	line-height: 1.5ch;
}

.creations__button {
	grid-row: second-to-last-line;
	width: fit-content;
	padding: 1ch 5ch;
	border: none;
	outline: 2px solid var(--black);
	background-color: transparent;
	text-transform: uppercase;
	font-family: var(--fw-3);
	font-size: var(--fs-s);
	letter-spacing: 0.5ch;
}

.footer {
	background-color: var(--black);
	padding: var(--gap-3) 0;
	display: grid;
	justify-items: center;
	gap: var(--gap-2);
}

.footer__logo {
	width: 10rem;
}

.footer__menu {
	display: flex;
	flex-direction: column;
	gap: var(--gap-1-5);
}

.footer__item {
	color: var(--white);
	font-family: var(--fw-3);
	font-size: var(--fs-s);
	list-style: none;
	text-align: center;
	cursor: pointer;
}

.footer__socials {
	display: flex;
	gap: var(--gap-1);
}

.footer__text {
	color: var(--dark-gray);
	text-align: center;
	font-family: var(--fw-3);
	font-size: var(--fs-s);
}

.footer__attribution {
	font-size: var(--fs-xs);
	color: var(--very-dark-gray);
}

.footer__link {
	color: var(--dark-gray);
}
